<div class="container-fluid">
  <div class="contact-info">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <p>
            <span class="glyphicon"><span class="glyphicon-earphone"></span> </span>
            <strong><a href="tel:+234 818 128 2105">+234 818 128 2105</a></strong>
          </p>
        </div>
        <div class="col-md-3 col-sm-3">
          <p>
            <span class="glyphicon">
              <span class="glyphicon-globe"></span>
            </span>
            <strong><a href="">www.student-proj.com</a></strong>
          </p>
        </div>
        <div class="col-md-3 col-sm-3">
          <p>
            <span class="glyphicon">
              <span class="glyphicon-map-marker"></span>
            </span>
            <strong>
              West Street, Ugwan Boro,<br>
              Kaduna South, Kaduna State.
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-body">
      <strong>Find us on google map</strong>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31473.07411683127!2d8.276612037459062!3d9.583693177664095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x105245726d0177cf%3A0x98f062e21d0ba8e4!2sKafanchan!5e0!3m2!1sen!2sng!4v1488035756490"></iframe>
    </div>
  </div>
</div>
