<div class="footer">
  <div class="alert alert-info">
    <p>
      &copy; Barnsmeal 2017.
      <span class="pull-right">{{#link-to 'admin'}}
        <a href="">
          <strong>Admin</strong>
        </a>{{/link-to}}
      </span>
    </p>
  </div>
</div>