<div class="container-fluid">
  <div class="jumbotron">
    <h1>Welcome to Classic Tutorial.</h1>
    <p>
      At Classic Tutorial, we pride ourselve by teaching you the basics, intermediate, and advance skill
      you require for web development. Give us a try today by registering, and you will be glad you did.
    </p>
    <p>{{#link-to 'signup'}}<a href="" class="btn btn-primary btn-lg">Register now</a>{{/link-to}}</p>
  </div>
  <div class="mid-section">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="assets/images/coder.jpg" alt="first">
          <div class="caption">
            <h3>Learn Python Programming.</h3>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Read more</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="assets/images/IMG_3505.jpg" alt="second">
          <div class="caption">
            <h3>Learn JavaScript Programming.</h3>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Read more</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="assets/images/JacksonMukariacopy.jpg" alt="third">
          <div class="caption">
            <h3>Learn HTML/CSS Language</h3>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
            </p>
            <p>
              <a href="#" class="btn btn-primary" role="button">Read more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of mid-section -->
</div>